@import 'scss/_autoload.scss';

.cart-window
{
	position: absolute;
	top: 73px;
	right: 0px;

	width: 300px;

	padding: 0px 10px 10px;

	display: none;

	border: 1px solid $color-secondary;
	border-top: 0px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);

	background: #fff;

	color: $text-color;

	overflow: auto;

	&.active
	{
		display: block;
	}
}
