@import '../_autoload';


header#page
{
	position: relative;

	height: 80px;

	padding: 7px 0px;

	color: #fff;

	z-index: 10;

	.container,
	.logo,
	.logo *
	{
		height: 100%;
	}

	.container > *
	{
		display: inline-block;
		vertical-align: top;
	}

	.menu
	{
		@include horizontal-list;
		@include reset-link-style;

		height: 80px;
		margin-top: -7px;

		line-height: 80px;

		margin-left: 15px;

		font-size: 1.33rem;
		font-weight: bold;

		a
		{
			height: 100%;

			padding: 0px 15px;

			display: block;

			&:hover
			{
				background: rgba(0,0,0,0.15);
			}

			&.active
			{
				background: $color-secondary;
			}
		}
	}

	.shopping-cart
	{
		margin-top: -7px;

		padding: 0px 10px;

		font-size: 2.5rem;
		line-height: 80px;

		cursor: pointer;
	}

	.shopping-cart.active
	{
		background: $color-secondary;
	}
}

footer#page .pre-footer
{ 
	margin-top: 30px;
	padding: 10px 0px;
}

footer#page .footer-text
{ 
	@include reset-link-style;

	padding: 10px 0px;

	font-size: 1.1rem;

	.row { margin: 0px;}
}


footer#page .footer-menu-links
{
	@include reset-list;

	line-height: 2rem;
}