section.menu-items .menu-item
{
	.image, .right-column
	{
		text-align: center;
	}

	.image img
	{
		width:100%;
		max-width: 150px;
		max-height: 150px;
		object-fit: contain;
	}

	.text header
	{
		margin-top: 0px;
	}

	.right-column .price
	{
		margin-right: 15px;

		display: inline-block;
	}
}