.container
{
	position: relative;

	width: 90%;
	max-width: 1140px;

	margin: 0px auto;
}

.row
{
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;

	& .row
	{
		margin: 0px;
	}
}

$responsivenes: (
	"": "only screen and (min-width: 0px)",
	"s": $small-and-up,
	"m": $medium-and-up,
	"l": $large-and-up,
	"xl": $extra-large-and-up
);

@each $prefix, $mediaQuery in $responsivenes
{
	@media #{$mediaQuery}
	{
		@for $i from 1 through $grid-columns-count
		{
			$responsiveName: "";

			@if $prefix == ""
			{
				$responsiveName: $i;
			}
			@else
			{
				$responsiveName: $prefix+"-"+$i;
			}

			.col-#{$responsiveName} {
				width: ($i / $grid-columns-count * 100%);

				padding: 0px $grid-columns-padding;

				box-sizing: border-box;
			}

			.offset-#{$responsiveName}
			{
				margin-left: ($i / $grid-columns-count * 100%);
			}
		}
	}
}