.container
{
	position: relative;

	width: 90%;
	max-width: 1140px;

	margin: 0px auto;
}

.row {
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;

	& .row
	{
		margin: 0px;
	}
}

@for $i from 1 through $grid-columns-count {
	.col-#{$i} {
		width: ($i / $grid-columns-count * 100%);

		padding: 0px $grid-columns-padding;

		box-sizing: border-box;
	}

	.offset-#{$i}
	{
		margin-left: ($i / $grid-columns-count * 100%);
	}
}