.float-left { float: left;}
.float-right { float: right;}

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}

.align-center { align-items: center;}

.clearfix { height: 1px; margin-bottom: -1px;}

.no-margin { margin: 0px !important; }
.no-margin-bottom { margin-bottom: 0px !important; }
.no-scroll { overflow: hidden;}
.scroll-vertical-auto { overflow-y: auto;}

.margin-top-15 { margin-top: 15px !important;}


@media #{$large-and-up}
{
	.show-on-medium-and-down
	{
		display: none !important;
	}
}

@media #{$medium-and-up}
{
	.show-on-small-and-down
	{
		display: none !important;
	}
}

@media #{$small-and-down}
{
	.hide-on-small-and-down
	{
		display: none !important;
	}
}