@each $name, $colors in $colors-list
{
	@each $type, $color in $colors
	{
		$selectorColor: "";
		$selectorBackground: "";

		@if $type == "base"
		{
			$selectorColor: ".color-" + $name;
			$selectorBackground: ".bg-" + $name;
		}
		@else
		{
			$selectorColor: ".color-" + $name+"."+$type;
			$selectorBackground: ".bg-" + $name+"."+$type;
		}

		#{$selectorColor} { color: #{$color}; }
		#{$selectorBackground} { background-color: #{$color}; }
	}
}