@import 'scss/framework/framework';
@import './_config.scss';

*
{
	box-sizing: border-box;
}

html, input, textarea, button
{
	font: 15px "Segoe UI";
	color: $text-color;
}

body
{
	margin: 0px;
	padding: 0px;
}

html, body, #root, #root #layout
{
	height: 100%;
}

a
{
	color: #{$links-color};
}

.fa
{
	//font-size: 1rem;
	text-decoration: none;
}